@inject PlcService plcService
@inject HttpClient http

<h3>ProbaConnectToService</h3>

Hello @Name
Id: @Id

<a class="btn btn-dark" href="/Plcs">Proba ancor link</a>
<a asp-action="Delete" asp-route-id="2">Delete</a>

<button @onclick="Toggle">Toggle button</button>
<button @onclick="GetValue">Get Service Valoare</button>
<button @onclick="IncreaseValue">Increase Service Valoare by 10</button>
Valoare: @Valoare

@code {
    [Parameter]
    public int Id { get; set; }

    public string Name { get; set; } = "Jon";
    public int Valoare { get; set; }


    public void Toggle()
    {
        if (Name == "Jon")
        {
            Name = "Susan";
        }
        else
        {
            Name = plcService.ClickTestare();
        }
    }

    public void GetValue()
    {
        Valoare = plcService.Valoare;
    }

    public void IncreaseValue()
    {
        plcService.Valoare += 10;
    }
}